* {
    font-style: "Roboto", sans-serif;
}

.navbar {
    height: 5%;
    background: url(assets/img/texture.png), #FFCE32;
    background-repeat: repeat;
    background-size: 90%;
    margin-bottom: 2rem;
    padding: 1.3rem 2.3rem;
}

.navbar-brand {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    color: #495057;
    font-size: 1.6rem;
    background: none;
}

.navbar-brand span {
    font-family: "Archivo Black", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #1D63FF;
}

.navbar-brand:hover {
    color: #495057;
}

.stop-btn {
    font-weight: 700;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 999px;
    color: #ffffff;
    background: #1D63FF;
    width: 10rem;
}

body {
    background: #F1F2F3;
}

.main-container {
    width: 95%;
    height: 95%;
    background-color: white;
    align-self: center;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 1rem rgba(0,0,0,0.25);
    margin-bottom: 4rem;
    padding: 2.5rem;
}

.timer-score {
    justify-content: flex-end;
    gap: 2rem;
}

.timer, .score {
    font-style: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: #ffffff;
    background: #1D63FF;
    border-radius: 999px;
    padding: 0.3rem 1rem;
    box-shadow: 0 0.25rem 0.4rem rgba(0, 0, 0, 0.4);
}

.score span, .timer span {
    font-style: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 0.3rem;
}

.score img {
    margin-right: 0.5rem;
    width: 1rem;
}

.timer img {
    margin-right: 0.5rem;
    width: 1.2rem;
}

.progress {
    background: #F5F5F5;
    box-shadow: 0 0.25rem 0.35rem rgba(0, 0, 0, 0.5);
    height: 1.3rem;
    margin-top: 2rem;
}

.progress-bar {
    width: 20%;
    color: #1D63FF;
}

.question-container {
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.3);
    padding: 3rem 3.2rem;
    margin-top: 3.5rem;
}

#question-num {
    color: #A6AAB3;
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    margin-left: -0.5rem;
}

#num {
    font-weight: 700;
    font-size: 1.25rem;
}

#question {
    color: #495057;
    font-weight: 780;
    font-size: 1.5rem;
    margin-bottom: 1.7rem;
    margin-left: -0.5rem;
}

.choices-group {
    gap: 0.5rem;
}

.choices {
    width: 49.6%;
    background: #ffffff;
    border: 1px solid #A6AAB3;
    border-radius: 0.8rem;
    gap: 1rem;
    padding: 0.5rem 0.75rem;
    margin-bottom: 1rem;
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media (max-width: 1217px) {
    .choices {
        width: 100% !important;
    }
}

.choice-letter {
    font-size: 1.5rem;
    color: #495057;
    border: 2px solid #A6AAB3;
    border-radius: 50%;
    padding: 1.1rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice-text {
    font-size: 1.2rem;
}

.return-home a {
    font-size: 1rem;
    font-weight: 650;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    text-decoration: none;
    padding: 0.6rem 1rem;
    border-radius: 999px;
    color: #ffffff;
    background: #1D63FF;
}

.return-home img {
    width: 1.1rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.quiz-end {
    background: url(assets/img/texture.png), linear-gradient(#1D63FF, #FFCE32);
    background-size: 250%;
    width: 33vw;
    border-radius: 3%;
    box-shadow: 0 0.5vw 1vw 0.1vw rgba(29, 99, 255, 0.5);
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 999;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.quiz-end img {
    width: 29.5vw;
    filter: drop-shadow(0.1vw 0.2vw 0.2vw #222);
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

#result-message {
    font-weight: 400;
    font-size: 1.65vw;
    margin-bottom: 0.5vw;
}

#final-score, .score-container {
    color: #FFCE32;
    font-weight: 400;
    font-size: 1.35vw;
}

.score-container {
    border-style: solid;
    border-color: #FFCE32;
    width: 13.45vw;
    margin-bottom: 14%;
}

.result-btn-group {
    width: 20.3vw;
    gap: 2vw;
}

.result-btn-group a {
    background-color: white;
    border-radius: 999px;
    border: 0.1vw solid black;
    font-weight: 500;
    font-size: 1.35vw;
    color: black;
    text-decoration: none;
    padding: 1% 0;
    transition: all 0.2s ease-in-out;
}

#review-score:hover {
    background-color: #899D47;
    color: white;
}

#try-again:hover {
    background-color: #CC8331;
    color: white;
}

#quit:hover {
    background-color: #FD6E71;
    color: white;
}
